body {
    width: auto;
    height: auto;
    background-image: url(images/liam-tucker-491202-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    margin: 0;

}


header {
    background-color: #bdbdbd;
    background-blend-mode: exclusion;
    height: 50px;
    z-index: 2;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 2%;

}

nav {
    background-color: #000000;
    text-align: center;
}

.mainTable {
    width: 85%;
    border: 0;
    border-collapse: collapse;
    margin-right:auto;
    margin-left: auto;

}

.main {
    width: 100%;
    height: 100%;
    display: inline-block;

}

#nameTitle {
    display: inline;
    color: #ffffff;
    font-size: 28px;
    padding-left: 2%;



}

#gsuLink {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    padding: 2%;
    color: #ffffff;
}

#aboutLink {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    padding: 2%;
    color: #ffffff;
}

#contactLink {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    padding: 2%;
    color: #ffffff;
}

#headshotContainer {
    width: 100%;
}

#headshot {
    width: 25%;
    height: 25%;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 1%;
}

#assignTable {
    width: 50%;
    height: 60%;
    display: inline-block;
    float: right;
}

#assignList {
    width: 100%;
    height: 100%;
}

.white {
    background-color: #ffffff;
    color: #000000;
}

.white a {
    color: #000000;
}

.black {
    background-color: #000000;
    color: #ffffff;
}

.black a {
    color: #ffffff;
}

.aList {
    text-decoration: none;
    list-style: none;


}

.listLinks {
    text-decoration: none;
    color: #000000;


}

.quote {
    color: rgba(179,242,133,1);
    font-size: 24px;
    width: 40%;
    height: 4vw;
    float: right;
    text-align: center;
    background-color: rgba(120, 119, 120, .5);
    padding: 4%;
    margin-top: 8%;
    margin-right: 5%;

}

.hobbies {
    background-color: rgba(120, 119, 120, .5);
    width: 30%;
    text-align: left;
    padding: 2%;
    margin-bottom: 1%;
}

#hTitle {
    text-align: center;
    color: rgba(255, 240, 120, 1);
}

#bTitle {
    color: rgba(255, 240, 120, 1);
}

a:hover {
    background-color: #2830ff;
}

.work {
    text-decoration: none;
}

.bio {
    background-color: rgba(120, 119, 120, .5);
    padding: 2%;
}

.bold {
    color: rgba(203, 21, 0, 1);
    font-weight: 900;
}
